footer {
    color: white; 
    position: fixed;
    bottom: 0; 
    left: 600px; 
    text-align: center;
}
h1 {
    background-color: cornsilk;
    color: darkcyan;
    text-align: center;
    border-style: groove;
    border-color: chartreuse;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
#timer-display {
    background-color: cornsilk;
    text-align: center;
    font-size: xx-large;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
.bottombtn {
    width: fit-content;
    background-color: #F493C9;
    border-color: white;
    margin-left: 48%;
    margin-top: 20px;
}
.footer {
    color: white; 
}
.header {
    margin-top: 20px; 
}
.results {
    background-color: cornsilk;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color: #496DCB;
}
.question-block {
    clear: both;
    background-color: cornsilk;
}
h2 {
    margin: 40px;
}
#startbtn {
    width: fit-content;
    background-color: #496DCB;
   margin-left: 48%; 
   margin-top: 20px;
   margin-bottom: 20px;
}
